.navbar-default {
	background-color:#FFFFFF;
	border-color:#FFF;
}

.navbar-default .navbar-brand {
	color: #837E7C;
}

.navbar-default .navbar-nav>li>a { color: #837E7C;}

.navbar-default .navbar-toggle .icon-bar { background-color: #FFF; }
i.feature {	font-size:100px;}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #85D6FF;
  background-color: #FFF;
}

a:link {
    text-decoration: none;
	color: #5CB3FF;
}

a:visited {
    text-decoration: none;
	color: #56A5EC;
}

a:hover {
    text-decoration: underline;
	color: #56A5EC;
}

a:active {
    text-decoration: underline;
	color: #56A5EC;
}

.center {
	text-align:center;
}

.right {
	text-align:right;
}

body {
	font-family:Tw Cen MT;
	padding-top: 25px;
	padding-right: 75px;
	padding-left: 75px;
	font-size:16px;
}

hr {
    height: 0;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
	padding-top: 50px;
	padding-bottom: 25px;
}

h1{
	font-size:30px;
	color:white;
	font-family:Tw Cen MT; sans-serif;
	font-weight:bold;
	position:absolute;top:15%;right:20%;
}

h2{
	font-size:25px;
	color:#82CAFF;
	font-family:Tw Cen MT; sans-serif;
	font-weight:bold;
}

h3{
	font-size:25px;
	color:#837E7C;
	font-family:Tw Cen MT; sans-serif;
}

h4{
	font-size:30px;
	color:#837E7C;
	font-family:Tw Cen MT; sans-serif;
	font-weight:bold;
}

ul.a {
    list-style-type: circle;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
}
  
.btn-lg {
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}

/***********************
  OUTLINE BUTTONS
************************/

.btn.outline {
    background: none;
    padding: 12px 22px;
}
.btn-primary.outline {
    border: 2px solid #FFFFFF ;
    color: #FFFFFF ;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #5CB3FF;
    border-color: #5CB3FF;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #5CB3FF;
    color: #5CB3FF;
    box-shadow: none;
}

.btn-success.outline {
    border: 2px solid #5CB3FF ;
    color: #5CB3FF ;
}
.btn-success.outline:hover, .btn-success.outline:focus, .btn-success.outline:active, .btn-success.outline.active, .open > .dropdown-toggle.btn-success {
    color: #B4CFEC;
    border-color: #B4CFEC;
}
.btn-success.outline:active, .btn-success.outline.active {
    border-color: #B4CFEC;
    color: #B4CFEC;
    box-shadow: none;
}

/***********************
  CUSTON BTN VALUES
************************/

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.imagewrap {display:inline-block;position:relative;}
